<%= form_for (announcement) do |f| %>

  <% if announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% announcement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:event_id].present?%>
    <%= f.hidden_field :event_id, value: params[:event_id] %>
  <% else %>
    <%= f.hidden_field :event_id %>
  <% end %>

  <div class="form-group row">
    <%= f.label :name, class: "control-label col-sm-4" %>
    <div class="col-sm-6">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :description, class: "control-label col-sm-4" %>
    <div class="col-sm-6">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :promotion, class: "control-label col-sm-4" %>
    <div class="col-sm-6">
      <%= f.check_box :promotion, class: "form-control" %>
    </div>
  </div>

  <div class="ln_solid"></div>
  <div class="">
    <%= link_to "Cancel", @event, class: "btn btn-danger" %>
    <%= submit_tag "Submit", class: "btn btn-success pull-right"%>
  </div>
<% end %>
