<h1>New Announcement</h1>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-sm-12">

        <%= render 'form', announcement: @announcement %>

      </div>
    </div>
  </div>
</div>
