<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Festival Admin Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "sessions" %>
  </head>
  <body>
    <div class="container">
      <section class="login_content">
      <%= form_tag login_path, method: :post, class: "form-horizontal top-margin bottom-margin" do %>
        <p><%= image_tag("logo.png", width: "250px") %></p>
        <hr>
        <% if flash[:error].present? %>
          <p class="alert alert-danger"><%= flash[:error] %></p>
        <% end %>
        <div><%= text_field_tag :mail, params[:email], class: "form-control", placeholder: "Email", required: true, autofocus: true %></div>
        <div><%= password_field_tag :password, "", class: "form-control", placeholder: "Password", required: true %></div>
        <div><button class="btn btn-primary btn-block" type="submit">Login</button></div>
      <% end %>
      </section>
    </div>
  </body>
</html>
