<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @group.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @group.admin_id %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
