<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :first_name, class: "control-label col-sm-4" %>
    <div class="col-sm-6">
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :last_name, class: "control-label col-sm-4" %>
    <div class="col-sm-6">
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :mail, class: "control-label col-sm-4" %>
    <div class="col-sm-6">
      <%= f.text_field :mail, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :password, class: "control-label col-sm-4" %>
    <div class="col-sm-6">
      <%= f.text_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :is_admin, class: "control-label col-sm-4" %>
    <div class="col-sm-6">
      <%= f.check_box :is_admin, class: "form-control" %>
    </div>
  </div>

  <div class="ln_solid"></div>
  <div class="">
    <%= link_to "Cancel", users_path, class: "btn btn-danger" %>
    <%= submit_tag "Submit", class: "btn btn-success pull-right"%>
  </div>
<% end %>
