<div class="page-title">
  <div class="title_left">
    <h3>Users</h3>
  </div>
  <div class="title_right">
    <div class="btn-toolbar pull-right">
      <%= link_to 'New User', new_user_path,class: "btn btn-default" %>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
    <% if @users.any? %>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="10%">ID</th>
            <th width="20%">Name</th>
            <th width="30%">E-Mail</th>
            <th width="20%">Admin</th>
            <th width="20%">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.first_name %> <%= user.last_name %></td>
              <td><%= user.mail %></td>
              <td><%= user.is_admin %></td>
              <td>
                <div class="btn-toolbar">
                  <%= link_to 'Show', user, class: "btn btn-primary btn-xs" %>
                  <%= link_to 'Edit', edit_user_path(user), class: "btn btn-default btn-xs" %>
                  <%= link_to 'Destroy', user, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    </div>
  </div>
</div>
