<h1>New User</h1>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <%= render 'form', user: @user %>

      </div>
    </div>
  </div>
</div>
