<div class="page-title">
  <div class="title_left">
    <p class="text-muted">#<%= @user.id %>
      <% if @user.is_admin %>
        <span class="label label-success">Admin</span>
      <% end %>
    </p>
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
  </div>
  <div class="title_right">
    <div class="btn-toolbar pull-right">
      <%= link_to 'Back', users_path,class: "btn btn-primary" %>
      <%= link_to 'Edit', edit_user_path(@user),class: "btn btn-default" %>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body eliminate-last-margin">
        <div class="row">
          <div class="col-xs-12">
            <dl class="dl-horizontal">
              <dt>First Name</dt>
              <dd><%= @user.first_name %></dd>
              <dt>Last Name</dt>
              <dd><%= @user.last_name %></dd>
              <dt>E-Mail</dt>
              <dd><%= @user.mail %></dd>
              <dt>Role</dt>
              <% if @user.is_admin %>
                <dd>Admin</dd>
                <% else %>
                <dd>User</dd>
              <% end %>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
