<%= form_for (setup_event(event)) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Information</h2>
  <div class="form-group row">
    <%= f.label :name, class: "control-label col-xs-4" %>
    <div class="col-xs-6">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :description, class: "control-label col-xs-4" %>
    <div class="col-xs-6">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :date, class: "control-label col-xs-4" %>
    <div class="col-xs-6">
      <%= f.datetime_select :date, class: "form-control" %>
    </div>
  </div>
  <h2>Locations</h2>
  <%= f.fields_for :locations do |ff| %>
    <div class="form-group row">
      <%= ff.label :name, class: "control-label col-xs-4" %>
      <div class="col-xs-6">
        <%= ff.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= ff.label :lat, class: "control-label col-xs-4" %>
      <div class="col-xs-6">
        <%= ff.number_field :lat, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= ff.label :long, class: "control-label col-xs-4" %>
      <div class="col-xs-6">
        <%= ff.number_field :long, class: "form-control" %>
      </div>
    </div>
  <% end %>
  <div class="ln_solid"></div>
  <div class="">
    <%= link_to "Cancel", events_path, class: "btn btn-danger" %>
    <%= submit_tag "Submit", class: "btn btn-success pull-right"%>
  </div>
<% end %>
