<div class="page-title">
  <div class="title_left">
    <h3>Events</h3>
  </div>
  <div class="title_right">
    <div class="btn-toolbar pull-right">
      <%= link_to 'New Event', new_event_path,class: "btn btn-default" %>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
    <% if @events.any? %>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="10%">ID</th>
            <th width="20%">Name</th>
            <th width="30%">Description</th>
            <th width="20%">Date</th>
            <th width="20%">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.id %></td>
              <td><%= event.name %></td>
              <td><%= event.description %></td>
              <td><%= event.date %></td>
              <td>
                <div class="btn-toolbar">
                  <%= link_to 'Show', event, class: "btn btn-primary btn-xs" %>
                  <%= link_to 'Edit', edit_event_path(event), class: "btn btn-default btn-xs" %>
                  <%= link_to 'Destroy', event, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    </div>
  </div>
</div>
