<div class="page-title">
  <div class="title_left">
    <p class="text-muted">#<%= @event.id %></p>
    <h3><%= @event.name %></h3>
  </div>
  <div class="title_right">
    <div class="btn-toolbar pull-right">
      <%= link_to 'Back', events_path,class: "btn btn-primary" %>
      <%= link_to 'Edit', edit_event_path(@event),class: "btn btn-default" %>
      <%= link_to 'New Announcement', announcements_new_path(event_id: @event),class: "btn btn-default" %>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body eliminate-last-margin">

      <div class="row">
        <div class="col-xs-12">
          <h2>Information</h2>
          <dl class="dl-vertical">
              <dt>Name</dt>
              <dd><%= @event.name %></dd>
              <br>
              <dt>Date</dt>
              <dd><%= @event.date %></dd>
              <br>
              <dt>Description</dt>
              <dd><%= @event.description %></dd>
              <br>
              <dt>Locations</dt>
              <dd>
                <% if @event.locations %>
                  <% @event.locations.each do |location|%>
                    <%= location.name %> |
                  <% end %>
                <% end %>
              </dd>
          </dl>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Locations</h2>
          <div id="event-map">

          </div>
          <script type="text/javascript">
            <%= @event.id%>
            initMap();
          </script>
        </div>
      </div>


      <div class="clearfix"></div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h2>Announcements</h2>
          <% if @announcements.any? %>
            <% @announcements.each do |announcement| %>
            <div class="col-xs-12">
              <% if announcement.promotion %>
                <div class="x_panel" style="background-color: #1abb9c42;">
              <% else %>
                <div class="x_panel">
              <% end %>
                <div class="x_content">
                  <div class="btn-toolbar pull-right">
                    <%= link_to announcement_path(id: announcement.id, event_id: @event), class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                    <%= link_to edit_announcement_path(announcement.id), class: "btn btn-xs btn-primary" do %>
                      <i class="fa fa-wrench"></i>
                    <% end %>
                  </div>
                  <h2><%= announcement.name %></h2>
                  <span><%= announcement.description %></span>
                </div>
                </div>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>


    </div>
  </div>
</div>
